<div class="History-countainer">
    <div class="History-title">Asi Perdi a mi HIjo
        <h1 class="names">Personajes</h1>
        <h2>{{regent.name}}</h2>
        <h2>{{police.name}}</h2>
        <h2>{{killer.name}}</h2>
        <h2>{{judge.name}}</h2>
        <h2>{{singer.name}}</h2>
        <h2>{{cook.name}}</h2>
        <h2>{{executioner.name}}</h2>
 </div>
 <div class="History">
        <h2 class="singer">{{singer.name}}</h2>
                <p class="singer">{{singer.findDied}}</p>
            <h3>A la escena llega un policia</h3>
        <h2 class="police">{{police.name}} </h2>
            <h3>El oficial revisa la escena y encuentra</h3>
                <p class="evidence">{{haveEvidence}}</p>
            <h3>El oficial interroga a los sospechosos</h3>
        <h2 class="police">{{police.name}} </h2>
                <p class="testimony1">{{needTestimony}}</p>
        <h2 class="singer">{{singer.name}}</h2>
                <p class="Rtestimony1">{{testimonyS}}</p>
        <h2 class="police">{{police.name}} </h2>
                <p class="testimony2">{{needMoreTestimony}}</p>
        <h2 class="cook">{{cook.name}}</h2>
                <p class="Rtestimony2">{{declarationMessage}}</p>
        <h2 class="police">{{police.name}} </h2>
                <p class="testimony3">{{needOneMoreTestimony}}</p>
        <h2 class="killer">{{killer.name}}</h2>
                <p class="Rtestimony3">{{testimonyK}}</p>
            <h3>El oficial interroga al asesino y lo descubre</h3>
        <h2 class="police">{{police.name}} </h2>
                <p class="murder">{{haveMurder}}</p>
            <h3>El oficial lleva al asesino ante el juez</h3>
        <h2 class="police">{{police.name}} </h2>
                <p class="present">{{Presentation}}</p>
            <h3>El juez dicta sentencia</h3>
        <h2 class="judge">{{judge.name}}</h2>
                <p class="sentence">{{Veredict}}</p>
            <h3>El asesino es ejecutado</h3>
        <h2 class="judge">{{judge.name}}</h2>
                <p class="execution">{{Execute}}</p>
        <h2 class="killer">{{killer.name}}</h2>
                <p class="message">{{finalMessage}}</p>
        <h2 class="executioner">{{executioner.name}}</h2>
                <p class="died">{{hachazo}}</p>
            <h3>El asesino muere pero a lo lejos un hombre ve la cabeza de su hijo rodar y jura venganza contra todos su opresores</h3>
            <h3 class="regent">{{regent.name}}</h3>
                <p class="promise">{{Promise}}</p>



 </div>
</div>